/* * {
  border: 1px solid red;
} */
.bg {
  background-image: url("https://www.pinclipart.com/picdir/big/149-1496181_rick-and-morty-portal-png-banner-transparent-portal.png");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.logo {
  height: 200px;
  width: auto;
}
.img {
  margin: auto;
}
.item-image {
  height: 50px;
  width: auto;
}
.min-height {
  height: 690px;
}

::-webkit-scrollbar {
  display: none;
}